.content {
  padding-top: 50px;
  .adress {
    display: flex;
    padding-top: 14px;
    gap: 10px;
    align-items: center;
    a:last-child {
      color: var(--activeColor);
    }
    span:nth-last-child(2) {
      background-color: var(--activeColor);
    }
    a:hover {
      color: var(--activeColor);
    }
    span {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 100%;
      opacity: 0.5;
      background-color: var(--black);
    }
    &.item {
      padding-top: 0;
      padding-bottom: 40px;
    }
  }
  .top {
    &-row {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 24px;
    }
    &-column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .items {
    &-row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
      gap: 12px;
      &__wrapper {
        width: auto !important;
        margin-inline: auto;
      }
      &__item {
        display: flex;
        flex-direction: column;
        width: 178px;
        height: 280px;
        padding: 20px;
        background-color: var(--grayBg);
        border: 1px solid var(--whiteGray);
        border-radius: 12px;
        &:hover {
          border-color: var(--lightGray);
        }
        &_icon {
          height: 140px;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        &_title {
          padding-top: 16px;
          font-size: 16px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &_details {
          margin-top: auto;
          padding-left: 24px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 10px;
          background: no-repeat url("../icons/download.svg") left;
          background-size: contain;
          &-download {
            font-size: 14px;
            position: relative;
          }
          &-category {
            display: inline-block;
            font-size: 13px;
            padding-inline: 4px;
            border-radius: 2px;
            border: 1px solid var(--lightGray);
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
              border: 1px solid var(--gray);
            }
          }
        }
      }
    }
  }
  .blocks {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    gap: 40px;
    width: 100%;
    &-category {
      display: flex;
      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
      &__class {
        padding: 12px 18px;
        width: 250px;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 12px;
        gap: 20px;
        &:hover {
          background-color: var(--whiteGray);
        }
        &.active {
          border-color: var(--whiteGray);
        }
        &_icon {
          object-fit: cover;
          height: 32px;
          width: 32px;
        }
        &_text {
          display: inline-block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
        }
      }
    }
    &-list {
      display: flex;
      flex-direction: column;
      gap: 50px;
      &__items {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      &__item {
        display: flex;
        border-radius: 12px;
        background-color: var(--grayBg);
        flex-direction: column;
        height: 100%;
        width: 100%;
        border: 1px solid var(--whiteGray);
        &:hover {
          border-color: var(--lightGray);
        }
        &_top {
          display: grid;
          grid-template-columns: 108px 1fr;
          flex-direction: row;
          padding: 16px;
        }
        &_icon {
          height: 108px;
          width: 108px;
          border-radius: 12px;
          overflow: hidden;
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        &_text {
          margin-left: 20px;
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          &-title {
            display: inline-block;
            font-size: 16px;
            line-height: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &-descr {
            display: -webkit-box;
            color: var(--gray);
            font-size: 14px;
            line-height: 100%;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &-info {
            display: flex;
            align-items: center;
            flex-direction: row;
            font-size: 14px;
            line-height: 22px;
            gap: 10px;
            color: var(--gray);
            width: 100%;
            * {
              padding-left: 25px;
            }
            &-download {
              background: no-repeat url(../icons/download.svg) left;
            }
            &-updated {
              background: no-repeat url(../icons/updated.svg) left;
            }
            &-created {
              background: no-repeat url(../icons/created.svg) left;
            }
            &-size {
              background: no-repeat url(../icons/size.svg) left;
            }
            &-version {
              background: no-repeat url(../icons/version.svg) left;
            }
            &-loaders {
              padding: 0;
            }
          }
        }
        &_details {
          display: flex;
          align-items: center;
          gap: 8px;
          border-top: 1px solid var(--white);
          padding: 6px 16px 6px 16px;
          &-category {
            display: inline-block;
            font-size: 13px;
            padding-inline: 4px;
            border-radius: 2px;
            border: 1px solid var(--lightGray);
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
              border: 1px solid var(--gray);
            }
            &-descr {
              color: var(--gray);
              font-size: 12px;
              border-bottom: 1px solid transparent;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              span:hover {
                color: var(--black);
                border-bottom: 1px solid var(--gray);
              }
              &:nth-child(2) {
                &:before {
                  content: '';
                }
              }
              &:before {
                content: '|';
                margin-right: 8px;
              }
            }
          }
        }
      }
      &__pagination {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        padding-inline: 14px;
        gap: 20px;
        &_button {
          background-color: var(--gray);
          height: 22px;
          width: 22px;
          border-radius: 100%;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            border: 6px solid transparent;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
          }
          &.prev {
            &:before {
              border-right: 6px solid var(--white);
              margin-right: 4px;
            }
          }
          &.next {
            &:before {
              border-left: 6px solid var(--white);
              margin-right: -4px;
            }
          }
          &.disabled {
            background-color: var(--lightGray);
          }
        }
      }
    }
    &-main {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 40px;
      &__pictures {
        margin: 0;
        border-radius: 12px;
        overflow: hidden;
        height: 410px;
        &:before, &:after {
          display: none;
        }
        &_item {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            object-fit: cover;
            width: 100%;
          }
        }
      }
      &__descr {
        width: 100%;
        border-radius: 12px;
        background-color: var(--grayBg);
        &_title, .hidden {
          display: flex;
          cursor: pointer;
          flex-direction: row;
          justify-content: space-between;
          height: 90px;
          align-items: center;
          font-size: 28px;
          position: relative;
          padding-inline: 40px;
          &:after {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            right: 50px;
            border-top: 2px solid var(--black);
            border-right: 2px solid var(--black);
            transform: rotate(-45deg);
          }
          &.hidden ~ .blocks-main__descr_text {
            display: none;
          }
          &.hidden {
            &:after {
              transform: rotate(135deg);
            }
          }
        }
        &_text {
          color: var(--gray);
          font-size: 16px;
          margin-inline: 40px;
          padding-bottom: 40px;
        }
      }
      &__files {
        &_title {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          &-name {
            font-size: 18px;
          }
          &-download {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            background-color: var(--activeColor);
            border: 1px solid transparent;
            border-radius: 2px;
            &:hover {
              border-color: var(--gray);
            }
            &-wrapper {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 5px;
              padding: 5px 15px;
            }
            &-icon {
              fill: var(--white);
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
            }
            &-text {
              color: var(--white);
              font-weight: 500;
            }
          }
        }
        &_wrapper {
          margin-top: 15px;
          background-color: var(--grayBg);
          border-radius: 12px;
          padding: 15px;
        }
        &_top {
          display: flex;
          flex-direction: column;
          gap: 5px;
        }
        &_text {
          font-size: 16px;
        }
        &_descr {
          font-size: 12px;
          display: flex;
          flex-direction: row;
          gap: 10px;
          color: var(--gray);
          &-updated, &-size, &-download, &-version, &-loaders {
            padding-left: 20px;
          }
          &-updated {
            background: no-repeat url('../icons/updated.svg') left;
            background-size: contain;
          }
          &-size {
            background: no-repeat url('../icons/size.svg') left;
            background-size: contain;
          }
          &-download {
            background: no-repeat url('../icons/download.svg') left;
            background-size: contain;
          }
          &-version {
            background: no-repeat url('../icons/version.svg') left;
            background-size: contain;
          }
          &-loaders {
            padding: 0;
          }
        }
        &_name {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &_text {
            font-size: 16px;
          }
          &-descr {
            font-size: 12px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: var(--gray);
          }
        }
        &_support {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &_text {
            font-size: 16px;
          }
          &-descr {
            font-size: 12px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: var(--gray);
          }
        }
        &_description {
          display: flex;
          flex-direction: column;
          gap: 5px;
          &_text {
            font-size: 16px;
          }
          &-descr {
            font-size: 12px;
            display: flex;
            flex-direction: row;
            gap: 10px;
            color: var(--gray);
          }
        }
      }
      &__morefiles {
        display: flex;
        flex-direction: column;
        background-color: var(--grayBg);
        border-radius: 12px;
        padding: 20px;
        &_title {
          font-size: 22px;
        }
        &_versions {
          padding-top: 20px;
          display: inline-flex;
          flex-direction: column;
          &-list {
            margin: 0;
            padding: 0;
            display: inline-flex;
            flex-direction: column;
            gap: 5px;
            &-item {
              list-style-type: none;
              display: inline-flex;
              flex-direction: column;
              gap: 8px;
              background-color: var(--white);
              padding: 10px;
              border-radius: 12px;
              border: 1px solid var(--whiteGray);
              width: 100%;
              &:hover {
                border-color: var(--lightGray);
              }
              &-name {
                display: inline-block;
                font-size: 16px;
                line-height: 100%;
                padding-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-descr {
                display: flex;
                flex-direction: row;
                gap: 10px;
                font-size: 14px;
                line-height: 100%;
                align-items: center;
              }
              &-version {
                display: flex;
                justify-content: left;
                background-color: var(--activeColorOpacity);
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
              }
              &-size {
                padding-left: 18px;
                background: no-repeat url('../icons/size.svg') left;
                background-size: contain;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-date {
                padding-left: 18px;
                background: no-repeat url(../icons/created.svg) left;
                background-size: contain;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-downloads {
                padding-left: 18px;
                background: no-repeat url(../icons/download.svg) left;
                background-size: contain;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-loader {
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
      &__install {
        width: 100%;
        border-radius: 12px;
        background-color: var(--grayBg);
        &_title {
          display: flex;
          cursor: pointer;
          flex-direction: row;
          justify-content: space-between;
          height: 90px;
          align-items: center;
          font-size: 28px;
          position: relative;
          padding-inline: 40px;
          &:after {
            position: absolute;
            content: '';
            height: 15px;
            width: 15px;
            right: 50px;
            border-top: 2px solid var(--black);
            border-right: 2px solid var(--black);
            transform: rotate(-45deg);
          }
          &.hidden ~ .blocks-main__install_list {
            display: none;
          }
          &.hidden {
            &:after {
              transform: rotate(135deg);
            }
          }
        }
        &_list {
          margin: 0;
          margin-inline: 60px;
          padding: 0;
          padding-bottom: 30px;
          color: var(--gray);
          font-size: 16px;
          &-item {
            margin-bottom: 5px;
          }
        }
      }
      &__download {
        width: 100%;
        border-radius: 12px;
        background-color: var(--grayBg);
        padding-bottom: 20px;
        &_title {
          display: flex;
          cursor: default;
          flex-direction: row;
          justify-content: space-between;
          height: 90px;
          align-items: center;
          font-size: 28px;
          padding-inline: 50px;
          &.mini {
            font-size: 20px;
            padding-inline: 20px;
          }
        }
        &_filters {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
        &_version, &_loaders {
          display: inline-flex;
          align-items: center;
          background-color: var(--white);
          height: 53px;
          border-radius: 12px;
          cursor: default;
          position: relative;
          border: 1px solid var(--lightGray);
          overflow: hidden;
          &:hover {
            border: 1px solid var(--gray);
          }
          &:active, &:focus-within {
            border-color: rgb(38, 132, 255) !important;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
          }
          label {
            display: inline-flex;
            align-items: center;
            height: 100%;
            margin: 0;
            padding-inline: 20px 30px;
            position: relative;
            &:after {
              position: absolute;
              content: '';
              height: 8px;
              width: 8px;
              right: 25px;
              border-top: 2px solid var(--activeColor);
              border-right: 2px solid var(--activeColor);
              transform: rotate(135deg);
            }
          }
          &-input {
            display: inline-flex;
            text-overflow: ellipsis;
            height: 100%;
            width: 130px;
            padding-left: 8px;
            cursor: default;
            outline: none;
            border: none;
            background-color: var(--white);
          }
        }
        &_versions {
          display: flex;
          flex-direction: column;
          hr {
            margin: 0;
            margin-top: 5px;
            border: none;
            height: 1px;
            width: 100%;
            background-color: var(--whiteGray);
          }
          &-filters {
            display: grid;
            align-items: center;
            grid-template-columns: 34px 1fr 90px 68px 56px 74px 63px 54px;
            gap: 10px;
            padding-inline: 10px;
          }
          &-filter {
            font-size: 12px;
            color: var(--lightGray);
          }
          &-list {
            display: inline-flex;
            flex-direction: column;
            margin: 0;
            padding: 0 0 20px 0;
            &-item {
              display: grid;
              align-items: center;
              grid-template-columns: 34px 1fr 90px 68px 56px 74px 63px 54px;
              gap: 10px;
              font-size: 12px;
              background-color: var(--grayBg);
              padding: 10px;
              width: 100%;
              &:hover {
                background-color: var(--white);
              }
            }
            &-type {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;
              &.release {
                &:before {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  content: 'R';
                  width: 100%;
                  height: 100%;
                  line-height: 100%;
                  font-size: 14px;
                  font-weight: 600;
                  background-color: var(--activeColor);
                  border-radius: 3px;
                }
              }
              &.beta {
                &:before {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  content: 'B';
                  width: 100%;
                  height: 100%;
                  line-height: 100%;
                  font-size: 14px;
                  font-weight: 600;
                  background-color: var(--pink);
                  border-radius: 3px;
                }
              }
            }
            &-name {
              color: var(--links) !important;
              font-weight: 700;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              min-width: 100px;
              &:hover {
                color: var(--activeColor) !important;
              }
            }
            &-download {
              fill: var(--activeColor);
              text-align: center;
            }
          }
          &-all {
            padding-inline: 10px;
            font-size: 12px;
            text-decoration: underline !important;
          }
        }
      }
      &__pagination {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: row;
        padding-inline: 20px;
        gap: 20px;
        &_button {
          background-color: var(--gray);
          height: 22px;
          width: 22px;
          border-radius: 100%;
          position: relative;
          &:before {
            position: absolute;
            content: '';
            border: 6px solid transparent;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
          }
          &.prev {
            &:before {
              border-right: 6px solid var(--white);
              margin-right: 4px;
            }
          }
          &.next {
            &:before {
              border-left: 6px solid var(--white);
              margin-right: -4px;
            }
          }
          &.disabled {
            background-color: var(--lightGray);
          }
        }
      }
    }
    &-sidebar {
      display: flex;
      flex-direction: column;
      width: 360px;
      gap: 40px;
      &__mini {
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--grayBg);
        border-radius: 12px;
        overflow: hidden;
        position: relative;
        padding-bottom: 20px;
      }
      &__bg {
        height: 210px;
        background-image: url('../img/blur.jpg');
        background-size: cover;
        overflow: hidden;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      &__icon {
        position: absolute;
        width: 100px;
        height: 100px;
        top: 140px;
        right: 40px;
        border-radius: 12px;
        background-image: url('../img/blur.jpg');
        background-size: cover;
        overflow: hidden;
        aspect-ratio: 16 / 9;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &__top {
        display: flex;
        flex-direction: column;
        padding-top: 40px;
        padding-inline: 20px;
      }
      &__title {
        &_name {
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 5px;
        }
        &_category {
          font-size: 13px;
          font-weight: 500;
          border: 1px solid var(--whiteGray);
          border-radius: 2px;
          padding: 1px 5px;
          &:hover {
            border-color: var(--lightGray);
          }
        }
      }
      &__info {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        &_top, &_bottom {
          display: flex;
          flex-direction: row;
          gap: 10px;
        }
        &_created, &_updated, &_download, &_latestversion, &_stats {
          cursor: default;
          background-color: var(--whiteGray);
          padding: 10px;
          border-radius: 12px;
          display: inline-flex;
          justify-content: space-around;
          flex-flow: column;
          white-space: nowrap;
          width: 100%;
          &-title {
            font-size: 14px;
          }
          &-descr {
            padding-top: 4px;
            font-size: 12px;
            color: var(--gray);
          }
        }
        &_download {
          cursor: pointer;
        }
        &_latestversion {
          align-items: flex-start;
          &-title {
            padding-bottom: 5px;
          }
          &-descr {
            display: flex;
            justify-content: left;
            background-color: var(--activeColorOpacity);
            line-height: 100%;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        &_stats {
          display: flex;
          flex-direction: column;
          &-title {
            padding-bottom: 5px;
          }
          &-details {
            display: flex;
            flex-direction: row;
            justify-content: start;
            gap: 5px;
            font-size: 12px;
          }
          &-download {
            padding-left: 20px;
            background: no-repeat url('../icons/download.svg') left;
            background-size: contain;
          }
          &-views {
            padding-left: 20px;
            background: no-repeat url('../icons/views.svg') left;
            background-size: contain;
          }
        }
      }
      &__newversions {
        display: flex;
        flex-direction: column;
        background-color: var(--grayBg);
        border-radius: 12px;
        padding: 20px;
        &_title {
          font-size: 22px;
        }
        &_versions {
          padding-top: 20px;
          display: inline-flex;
          flex-direction: column;
          &-list {
            margin: 0;
            padding: 0;
            display: inline-flex;
            flex-direction: column;
            gap: 5px;
            &-item {
              list-style-type: none;
              display: inline-flex;
              flex-direction: column;
              gap: 8px;
              background-color: var(--white);
              padding: 10px;
              border-radius: 12px;
              border: 1px solid var(--whiteGray);
              width: 100%;
              &:hover {
                border-color: var(--lightGray);
              }
              &-name {
                display: inline-flex;
                font-size: 16px;
                line-height: 100%;
                padding-bottom: 5px;
              }
              &-descr {
                display: flex;
                flex-direction: row;
                gap: 10px;
                font-size: 14px;
                line-height: 100%;
                align-items: center;
              }
              &-version {
                display: flex;
                justify-content: left;
                background-color: var(--activeColorOpacity);
                padding: 5px 10px;
                border-radius: 5px;
                cursor: pointer;
              }
              &-size {
                padding-left: 18px;
                background: no-repeat url('../icons/size.svg') left;
                background-size: contain;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-date {
                justify-self: end;
                padding-left: 18px;
                background: no-repeat url(../icons/created.svg) left;
                background-size: contain;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-downloads {
                padding-left: 18px;
                background: no-repeat url(../icons/download.svg) left;
                background-size: contain;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              &-loader {
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
    &-row {
      &__item {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        width: 620px;
        &:hover {
          img {
            transform: scale(1.1);
          }
        }
        &_icon {
          width: 100%;
          position: relative;
          border-radius: 12px;
          overflow: hidden;
          aspect-ratio: 16 / 9;
          &:before {
            position: absolute;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(11, 11, 11, 0.7) 0%, rgba(100, 100, 100, 0) 25%);
            z-index: 10;
          }
          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
        }
        &_text {
          padding-top: 20px;
          padding-inline: 10px;
          &-title {
            font-size: 20px;
            line-height: 28px;
          }
          &-subtitle {
            display: -webkit-box;
            width: 100%;
            padding-top: 10px;
            font-size: 15px;
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
        }
      }
    }
  }
}